<template name="publicHeader">

  <paper-toolbar id="mainToolbar">

    <span class="flex"></span>

    <!-- Toolbar items -->
    <paper-button class="btn" data-action="home">Home</paper-button>
    <paper-button class="btn" data-action="about">About</paper-button>
    <paper-button class="btn" data-action="signup">SignUp</paper-button>
    <paper-button class="btn" data-action="signin">SignIn</paper-button>

    <!-- Application name -->
    <div class="middle middle-container center horizontal layout">
      <div class="app-name">Meteor / Polymer</div>
    </div>

  </paper-toolbar>

</template>
